{% extends "base.html" %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="pt-32 px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-base leading-7 text-gray-700">
      <p class="text-base font-semibold leading-7 text-emerald-600">{{ model.name }} - {{ layer.type }}</p>
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        {{ activity.name }}
      </h1>
      <p class="mt-6 text-xl leading-8">
        {{ activity.description }}
      </p>
      <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">SPALTEN: Activities of Problem Solving</h2>
      <div class="mt-4 flex">
        <a href="{% url "models:problem_solving_activity_detail" model.pk "PRODUCT" activity.pk "s" %}" class="text-base font-semibold leading-7 text-emerald-600">S: "Situation Analysis" activity <span aria-hidden="true">&rarr;</span></a>
      </div>
      <div class="mt-4 flex">
        <a href="{% url "models:problem_solving_activity_detail" model.pk "PRODUCT" activity.pk "p" %}" class="text-base font-semibold leading-7 text-emerald-600">P: "Problem Containment" activity <span aria-hidden="true">&rarr;</span></a>
      </div>
      <div class="mt-4 flex">
        <a href="{% url "models:problem_solving_activity_detail" model.pk "PRODUCT" activity.pk "a" %}" class="text-base font-semibold leading-7 text-emerald-600">A: "Detection of Alternative Solutions" activity <span aria-hidden="true">&rarr;</span></a>
      </div>
      <div class="mt-4 flex">
        <a href="{% url "models:problem_solving_activity_detail" model.pk "PRODUCT" activity.pk "l" %}" class="text-base font-semibold leading-7 text-emerald-600">L: "Selection of Solutions" activity <span aria-hidden="true">&rarr;</span></a>
      </div>
      <div class="mt-4 flex">
        <a href="{% url "models:problem_solving_activity_detail" model.pk "PRODUCT" activity.pk "t" %}" class="text-base font-semibold leading-7 text-emerald-600">T: "Analysis of Consequences" activity <span aria-hidden="true">&rarr;</span></a>
      </div>
      <div class="mt-4 flex">
        <a href="{% url "models:problem_solving_activity_detail" model.pk "PRODUCT" activity.pk "e" %}" class="text-base font-semibold leading-7 text-emerald-600">E: "Deciding and Implementing" activity <span aria-hidden="true">&rarr;</span></a>
      </div>
      <div class="mt-4 flex">
        <a href="{% url "models:problem_solving_activity_detail" model.pk "PRODUCT" activity.pk "n" %}" class="text-base font-semibold leading-7 text-emerald-600">N: "Recapitulation and Learning" activity <span aria-hidden="true">&rarr;</span></a>
      </div>
    </div>
  </div>
{%  endblock %}
