{% extends "base.html" %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}
{% load static %}

{% block content %}
<main class="mx-auto py-32 max-w-7xl pb-10 lg:py-12 lg:px-8">
<div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
  <aside class="py-6 px-2 sm:px-6 lg:col-span-3 lg:py-0 lg:px-0">
    <nav class="space-y-1">
      <a href="{% url 'methods:method_detail' pk=method.pk view="abstract" %}" class="hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium {% if view == 'abstract' %}bg-gray-50 text-emerald-600 hover:bg-white{% endif %}">
        {% heroicon_outline "document-magnifying-glass" class="-ml-1 mr-3 h-6 w-6 flex-shrink-0" %}
        <span class="truncate">Abstract</span>
      </a>

      <a href="{% url 'methods:method_detail' pk=method.pk view="description" %}" class="hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium {% if view == 'description' %}bg-gray-50 text-emerald-600 hover:bg-white{% endif %}">
        {% heroicon_outline "book-open" class="group-hover:text-gray-500 -ml-1 mr-3 h-6 w-6 flex-shrink-0" %}
        <span class="truncate">Description</span>
      </a>

      <a href="#" class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium">
        {% heroicon_outline "table-cells" class="text-gray-400 group-hover:text-gray-500 -ml-1 mr-3 h-6 w-6 flex-shrink-0" %}
        <span class="truncate">Input/Output</span>
      </a>

      <a href="#" class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium">
        {% heroicon_outline "ellipsis-horizontal" class="text-gray-400 group-hover:text-gray-500 -ml-1 mr-3 h-6 w-6 flex-shrink-0" %}
        <span class="truncate">Steps</span>
      </a>

      <a href="#" class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium">
        {% heroicon_outline "wrench-screwdriver" class="text-gray-400 group-hover:text-gray-500 -ml-1 mr-3 h-6 w-6 flex-shrink-0" %}
        <span class="truncate">Tools</span>
      </a>

      <a href="#" class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium">
        {% heroicon_outline "bookmark-square" class="text-gray-400 group-hover:text-gray-500 -ml-1 mr-3 h-6 w-6 flex-shrink-0" %}
        <span class="truncate">Ressources</span>
      </a>

      <a href="#" class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium">
        {% heroicon_outline "arrows-up-down" class="text-gray-400 group-hover:text-gray-500 -ml-1 mr-3 h-6 w-6 flex-shrink-0" %}
        <span class="truncate">Advantages/Disadvantages</span>
      </a>

      <a href="#" class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium">
        {% heroicon_outline "viewfinder-circle" class="text-gray-400 group-hover:text-gray-500 -ml-1 mr-3 h-6 w-6 flex-shrink-0" %}
        <span class="truncate">Field of application</span>
      </a>

      <a href="#" class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium">
        {% heroicon_outline "clipboard-document-list" class="text-gray-400 group-hover:text-gray-500 -ml-1 mr-3 h-6 w-6 flex-shrink-0" %}
        <span class="truncate">Similar methods</span>
      </a>

      <a href="#" class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium">
        {% heroicon_outline "user" class="text-gray-400 group-hover:text-gray-500 -ml-1 mr-3 h-6 w-6 flex-shrink-0" %}
        <span class="truncate">Expert/Consultant</span>
      </a>

      <a href="#" class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium">
        {% heroicon_outline "building-library" class="text-gray-400 group-hover:text-gray-500 -ml-1 mr-3 h-6 w-6 flex-shrink-0" %}
        <span class="truncate">Sources/Literature</span>
      </a>

      <a href="#" class="text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-3 py-2 text-sm font-medium">
        {% heroicon_outline "cube-transparent" class="text-gray-400 group-hover:text-gray-500 -ml-1 mr-3 h-6 w-6 flex-shrink-0" %}
        <span class="truncate">Application examples</span>
      </a>
    </nav>
  </aside>

  <div class="space-y-6 sm:px-6 lg:col-span-9 lg:px-0">
    {% #card card_title=method.name card_subtitle="Method "|add:view %}
      {% if view == "abstract" %}
        <p class="text-gray-700 leading-7 py-2">
          {{ method.abstract }}
        </p>
      {% elif view == "description" %}
        <p class="text-gray-700 leading-7 py-2">
          {{ method.description }}
        </p>
      {% endif %}
    {% /card %}
  </div>
</div>
</main>
{% endblock %}
