{% extends "base.html" %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
  <!-- Table with PUBLIC models -->
  <div class="space-y-6 mt-4 max-w-4xl mx-auto sm:px-6 lg:col-span-9 lg:px-0">
    {% #card card_title="Public Models" card_subtitle="List with all PUBLIC model instantiations of iPeM"%}
      {% render_table table %}
    {% /card %}
  </div>

  <!-- Table with PRIVATE models -->
  {% if request.user.is_authenticated %}
    <div class="space-y-6 mt-4 max-w-4xl mx-auto sm:px-6 lg:col-span-9 lg:px-0">
      {% #card card_title="Private Models" card_subtitle="List with all PRIVATE model instantiations of iPeM"%}
        {% render_table table %}
      {% /card %}
    </div>
  {% endif %}
{% endblock %}
